@import "var.less";

.main-product {
    background-color: @color-white;
    padding: 3.12rem;
    border-radius: 10px;

    @media only screen and (min-width: @tablet) {
        display: flex;
        align-items: flex-start;
    }

    &-inner-recepi{
        background-color: @color-orange;
        margin-left: 2rem;
        padding: 20px 30px;
        border-radius: 10px;

    }

    &-img {
        max-width: 12.5rem;
        @media only screen and (min-width: @desktop) {
            max-width: 100%;
        }

    }
 
    &-title,
    &-desc {
        font-weight: bold;
    }

    &-link {
        background-color: @color-orange;
        padding: .5rem 1rem;
        color: @color-black;
    }
    &-title-recepi{
        text-align: center;
        margin-bottom: 2rem;
    }
   
}

input[type=text],input[type=email],  select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: @color-white;
    color: @color-black;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .container-form {
    border-radius: 10px;
    background-color: @color-white;
    padding: 40px;
    margin-top: 20px;
  }
 .contact-title{
     font-size: 25px;
     text-align: center;
 }
 .form-holder{
    border-radius: 10px;
    background-color: @color-orange;  
    padding: 20px;
 }
  